<div class="bg-blue">
    <div style="color:#2E3241; " ngClass.gt-sm="container">
        <div flex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap.lt-md="50px"
            fxLayoutAlign="space-between center" fxLayoutGap="120px">
            <div fxFlex="33.3%" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
                <span>ENTRE EM CONTATO</span>
                <span style="font-weight: bold;">0800 080 0800</span>
                <span>de segunda a sexta das 8h às 20h</span>
            </div>
            <div fxFlex="33.3%" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
                <span style="font-weight: bold;">JuntoSeguradora</span>
                <a style="color: white" href="#" target="_blank">www.juntoseguradora.com.br</a>
            </div>
        </div>
    </div>
</div>
<footer class="footer-secondary-bg">
    <div ngClass.gt-sm="container">
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between center" fxLayoutAlign.lt-md="center stretch" fxLayoutGap="10px">
            <div class="text-center">
                @ Copyright - JuntoSeguradora
            </div>
            <div fxLayout fxLayoutAlign="center center" fxLayoutGap="15px">
                <a href="https://www.facebook.com/" target="_blank">
                    <i class="fab fa-facebook-f fa-1-5x"></i>
                </a>
                <a href="https://twitter.com/" target="_blank">
                    <i class="fab fa-twitter fa-1-5x"></i>
                </a>
                <a href="https://www.youtube.com/" target="_blank">
                    <i class="fab fa-youtube fa-1-5x"></i>
                </a>
                <a href="https://www.instagram.com/" target="_blank">
                    <i class="fab fa-instagram fa-1-5x"></i>
                </a>
                <a href="https://www.linkedin.com/" target="_blank">
                    <i class="fab fa-linkedin-in fa-1-5x"></i>
                </a>
            </div>
        </div>
    </div>
</footer>