<div fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="30%">
        <mat-card>
            <mat-card-content>
                Remember
            </mat-card-content>
            <mat-card-actions>
                <div fxLayout="row" fxFlexFill fxLayoutAlign="end center">
                    <div fxLayout="row" fxFlex="50%" >
                        <button fxFlexFill mat-raised-button color="primary" (click)="goToCard(loginEnum)">
                            Voltar
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </mat-card-actions>
        </mat-card>
    </div>
</div>